@charset "utf-8";
/* CSS Document */

body{
	background:url(images/bg.jpg) repeat-x #000; 
}

#header {
	padding:0px;
	margin-bottom:10px;
}

#branding img {
    border-top: 0px;
	border-bottom: 0px;
    margin-left: -20px;
}

a:link, a:visited{
	color:#333
}
a:active, a:hover{
	color:#FFF;
	text-decoration:underline
}
#wrapper {
	background:#F26700;
}

.entry-meta a, .entry-utility a, .entry-utility, .entry-meta, .navigation a:link, .navigation a:visited, .widget-area ul, #respond label, #respond .form-allowed-tags {
	color:#333;
}

#access{
	width:980px;
	margin-left:-20px;
}

.entry-title a:active, .entry-title a:hover, .navigation a:active, .navigation a:hover{
    color: #FFF;
	text-decoration:underline
}
.entry-meta a:hover, .entry-utility a:hover {
	color:#FFF
}

#access a {
    color: #F26700;
	padding-left:15px;
	padding-right:15px;
}

#access .menu-header, div.menu {
    font-size: 25px;
}

#access li:hover > a,
#access ul ul :hover > a {
	background: #F26700;
	color: #000;
}

#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a{
	background: #F26700;
	color: #000;
}

#access ul ul a {
	background: #F26700;
	color:#000;
}

#access ul ul a:hover {
	background: #000;
	color:#F26700;
}

#comments .commentlist .avatar {
	width:50px;
	height:50px;
}

.comment-meta a:link, .comment-meta a:visited {
	color:#000;
}

#sponsor img {
	max-width:300px;
}

#sponsor td {
	vertical-align:middle;
	text-align:center;
}

#sponsor tr td {
	border-top:0px;
	border:0px;
}

table#sponsor {
	border:0px;
}
table#lineup, #lineup tr td {
	border:1;
	border-width:1px;
	border-color:#BF0000;
}

#site-info a{
	margin:850px;
}

.footer_text {
	color:#333;
}

#commentlist img{
	width:70px;
	height:70px;
	margin-left:-20px;
}
img.wp-smiley {
	width:20px;
	height:20px;
}
#respond h3 {
	color:#333;
	font-weight:bold;
}
.widget-title {
	color:#333;
	font-style:normal;
}
blockquote {
	font-style:normal;
}
.comment-author .says {
	font-style:normal;
}
.comment-author cite {
	color:#333;
}