#keuzeimg{
	max-height: 80px;
}
#info{
	padding-left: 110px;
	margin-top: -65px;
	margin-bottom: 30px;
}
#keuze0, #keuze3, #keuze6, #keuze9, #keuze12{
	padding-bottom: 5px;
}

#keuze1, #keuze4, #keuze7, #keuze10, #keuze13{
    padding-left: 350px;
    margin-top: -150px;
    padding-bottom: 5px;
    

}
#keuze2, #keuze5, #keuze8, #keuze11, #keuze14{
    padding-left: 700px;
    margin-top: -150px;
    padding-bottom: 5px;
 
}