/*
**	Author: Jasper De Smet
**	Website: www.jasperdesmet.be
**	Contact: contact@jasperdesmet.be
**	
**	Date: 05-2012
*/


/* Algemeen */
body
{
	margin: 0px;
	padding: 0px;
	
	font-family: arial;
	
	background-color: #6ed0f1;
	
	overflow-x: hidden;
}

.wrapper
{
	margin: 0px auto;
	padding: 0px;

	width: 980px;
}
/* Einde Algemeen */

/* Header */
header
{
	margin: 0px;
	padding: 0px;
	
	height: 277px;
	
	background-image: url('../img/header.png');
}

img.logo
{
	margin: 0px 0px 0px 50px;
	padding-top: 25px;
	
	height: 168px;
	width: 328px;
}
/* einde header */

/* content */
#page-wrap
{
	margin: 0px auto;
	padding: 0px;
	
	width: 1200px;
	height: auto;
	
	position: relative; /* zorg dat we absolute elementen kunnen positioneren in de page-wrap */
}

#content
{
	margin: 15px auto;
	padding: 0px;
	
	height: auto;
	min-height: 400px;
	width: 1000px;
	
	overflow: auto;
	
	background-color: #daf7f7;
	
	border: 1px solid #0877a0;
	border-radius: 10px;
	
	position: relative; /* zodat de absolute elementen hier achter komen */
}

h1
{
	margin: 10px 12px;
	padding: 5px;

	font-family: cooper std ;
	color: #336666;
	font-weight: bold;
	
	border-bottom: 3px solid #336666;
}

.blokje, .overzicht
{
	margin: 10px;
	padding: 0px;
	
	float: left;
	
	height: 160px;
	width: 311px;
	
	color: #336666;
	
	background-color: #FFFFFF;
	border: 1px solid #336666;
	border-radius: 10px;
}

.overzicht
{
	padding: 10px;
	
	width: 960px;
	min-height: 400px;
	height: auto;
	overflow: auto;
}

img.album
{
	margin: 30px 15px;
	padding: 0px;
	
	float: left;
	
	height: 80px;
	width: 80px;
	
	border: 1px solid #336666;
}

.blokje p
{
	margin: 25px 20px 0px 20px;
	font-size: 13pt;
	min-height: 50px;
	height: auto;
	overflow: auto;
}

.blokje p.sp
{
	margin: 0px 12px;
	height: 12px;
}

.blokje p span.titel
{
	font-size: 11pt;
}

span.inspringen
{
	padding: 12px;
}

h3
{
	margin: 10px 12px;
	padding: 0px;

	color: #336666;
	font-weight: bold;
	
	border-bottom: 2px solid #336666;
	
	font-size: 13pt;
}

fieldset
{	
	border: none;
}

label
{
	margin: 3px;
	padding: 0px;
	
	width: 50px;
	
	float: left;
}

form.email
{
	margin: 0px;
	padding: 0px;
	
	width: auto;
	height: auto;
	overflow: auto;
}

input[type="text"]
{
	margin: 3px;
	padding: 1px;
	
	width: 210px;
	
	float: left;
}

input[type="submit"]
{
	margin: 5px 5px;
	padding: 3px 10px;
	
	float: right;
	
	background-color: #009999;
	border: 1px solid #0877a0;
	border-radius: 5px;
	color: #FFFFFF;
	
	font-size: 13pt;
	font-weight: bold;
}

input[type="submit"].button-blokje
{
	margin: 0;
	bottom: 0;
	float: left;
	min-width: 80px;
}

/* Einde content */

/* Footer */
footer
{
	margin: 0px auto;
	padding: 0px;
	clear: both;
	
	height: 150px;
	
	background-color: #FFFFFF;
	border-top: 3px solid #336666;
}
/* Einde footer */


/* Mannetjes */
#man1, #man2
{
  position: absolute;
}
#man1
{
	width: 222px;
	height: 313px;
	top: -170px;
	left: 0%;
	background-image: url('../img/mannetje1.png');
}
#man2
{
	bottom: -15px;
	right: -150px;
	width: 254px;
	height: 346px;
	background-image: url('../img/mannetje2.png');
}