/**************** 
RESET
****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************** 
CLEARFIX
****************/
.clearfix{
	clear:both;
}

/**************** 
FONTFACE
****************/
@font-face {
    font-family: 'HelveticaNeueLTCom97BlkCn';
    src: url('helveticaneueltcom-blkcn-webfont.eot');
    src: url('helveticaneueltcom-blkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltcom-blkcn-webfont.woff') format('woff'),
         url('helveticaneueltcom-blkcn-webfont.ttf') format('truetype'),
         url('helveticaneueltcom-blkcn-webfont.svg#HelveticaNeueLTCom97BlkCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**************** 
SELECTION
****************/
::selection{
	background: #bb2a28;
	color:#FFF;
}
::-moz-selection{
	background: #bb2a28;
	color:#FFF;
}
img::selection{
	background: transparent;
}
img::-moz-selection {
	background: transparent;
}


/***************************  
LAYOUT-STRUCTURE NORMAL
***************************/
body{
	background:url(img/bg_grain.jpg) repeat #FFF;
	font-family:Helvetica, Arial, sans-serif;
}

#header_bg, #footer_wrapper{
	background:url(img/bg_tilenoise.jpg) repeat #000;
	width:100%;
}

#header_wrapper{
	margin:0 auto;
	width:960px;
}

	#header{
		width:960px;
		height:220px;
		margin:25px 0 15px 0;
		float:left;	
	}
		
		#logo_stf{	
			position:relative;
			width:473px;
			height:249px;
			left:85px;
			top:-17px;
		}
		
		#logo_stubru{	
			width:204px;
			height:249px;
			right:-160px;
			position:relative;
			top:-18px;
		}

#headershadow{
	height:13px;
	width:100%;
	background:url(img/bg_headershadow.jpg) repeat-x;
}

#content_wrapper{ 
	margin:0 auto;
	width:960px;
}

	#sidebar{
		width:240px;
		height:auto;
		margin:0 10px 25px 0px;
		float:left;
	}
	
		#sidebar div{
			padding:10px;
			margin-bottom:10px;
		}
		
		#sidebar div#twtr-widget-1{
			padding:0;
			margin-bottom:0;
		}
		
		#sidebar div#twtr-widget-1 div{
			padding:0px;
			margin-bottom:10px;
		}
		
		#sidebar div#twtr-widget-1 div.twtr-doc, #sidebar div#twtr-widget-1 div.twtr-doc div.twtr-bd, #sidebar div#twtr-widget-1 div.twtr-doc div.twtr-timeline{
			margin-bottom:0;
		}
		
		#sidebar div#twtr-widget-1 div.twtr-ft, #twtr-widget-1 div.twtr-hd{
			display:none;			
		}
		
		div#facebook{
			padding:0px;
			height:265px;
			width:238px;
			overflow:hidden;
		}
		
		div#facebook iframe{
			margin:-1px;
		}
	
	#content{
		width:664px;
		height:auto;
		/*background-color:#FFF;*/
		float:left;
		/*padding:10px 0 10px 21px;*/
		padding-left:21px;
	}

.border_grey, .menu-hoofdmenu-container{
	border:1px #c0c0c0 solid;
}

.box, .menu-hoofdmenu-container{
	float:left;
	margin-right:10px;
	width:219px;
	background-color:#FFF;
}

#footershadow{
	height:65px;
	width:100%;
	background:url(img/bg_footershadow.png) repeat-x;
}

#footer_wrapper{
}

	#footer{
		margin:0 auto;
		width:960px;
	}
	
		#footer_sidebar{
			width:240px;
			height:auto;
			float:left;
			padding:10px;
			height:200px;
		}
		
			#footer_sidebar img{
				width:240px;
				height:auto;
			}
		
		#footer_content{
			width:auto;
			height:auto;
			float:left;
			padding:10px 0 10px 21px;
			margin-bottom:10px;
		}
		
		#footer_content div.columnleft, #footer_content div.columnright{
			width:310px;
			margin-right:10px;
			float:left;
		}
		
		#footer_content div.columnleft a{
			margin-bottom:15px;
			display:block;
			text-align:center;
		}
		
		#footer_content div.columnright a{
			margin-bottom:10px;
			display:block;
			text-align:center;
		}

/**************** 
MENU
****************/
.menu{
	text-transform:uppercase;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	font-family: 'HelveticaNeueLTCom97BlkCn';
}

	.menu li{
		font-size:27px;
		margin-bottom:10px;
	}
	
		.menu li a{
			color:#bb2a28;
			text-decoration:none;
			border-bottom:1px #c0c0c0 solid;
			width:100%;
			display:block;
		}
		
		.menu li a:hover{
			color:#404040;
		}
	
	.menu li.has_sub a, .menu li.menu-item.arrow{
		background:url(img/sprite_arrow_menu.jpg) 197px 2px no-repeat;
		width:100%;
	}
	
	.menu li.has_sub a:hover, .menu li.menu-item.arrow:hover, .menu li.menu-item.arrow a.open{
		background:url(img/sprite_arrow_menu.jpg) 161px -31px no-repeat;
	}
		
		.menu li.has_sub ul li, .menu ul.sub-menu li{
			font-size:20px;
			margin:5px 0 5px 20px;
		}
	
			.menu li.has_sub ul li a, .menu ul.sub-menu li a{
				color:#404040;
				background:none;
				border:none;
				padding-left:20px;
				background:url(img/bg_list_star_black.png) left center no-repeat;
			}
	
			.menu li.has_sub ul li a:hover, .menu ul.sub-menu li a:hover{
				background:url(img/bg_list_star_red.png) left center no-repeat;
				color:#bb2a28;
			}
			
	ul.menu li ul li ul li a {
		font-size:17px;
	}

/**************** 
PICTURES HOMEPAGE
****************/
.picture {
	position:relative;
	float:left;
	margin:0 26px 20px 0;
	position:relative
}

	.picture .white_banner{
		background-color:#FFF;
		width:200px;
		height:35px;
		position:relative;
		top:100px;
		margin-left:1px;
	}
	
		.picture .white_banner h2{
			text-transform:uppercase;
			font-weight:bold;
			font-size:17px;
			line-height:34px;
			text-align:center;
			width:200px;
		}
		
		.picture a{
			text-decoration:none;
			color:#404040;
		}

	.picture .pic_bg{
		background-image:url(img/bg_picture_transparent.png);
		width:210px;
		height:175px;
		position:absolute;
		top:0;
		left:-4px;
	}

	.picture .pic_bg:hover{
		background-image:url(img/bg_picture_gray.png);
		width:210px;
		height:175px;
		position:absolute;
		top:0;
		left:-4px;
	}

	.picture img{
		width:195px;
		height:160px;
	}


/**************** 
DETAILPAGE
****************/
.picture_big{
	width:635px;
	height:175px;
	background:url(img/bg_picture_big.png);
	padding:0 7px 7px 0;
	margin-bottom:0px;
}

/**************** 
TYPO
****************/

h1, h2, h3{
	font-family:Helvetica, Arial, sans-serif;
	font-family: 'HelveticaNeueLTCom97BlkCn';
	font-weight:bold;
}

h1{
	font-size:35px;
	color:#bb2a28;
	margin:10px 0;
}

h2{
	margin:10px 0;
	color:#404040;
	font-size:25px;
}

h3{
	font-size:20px;
	color:#404040;
	margin:8px 0;
	margin-top:15px;
}

#twitter h3{
	margin-top:0px;
}
	
p{
	margin-bottom:10px;
}

#content ul{
	margin:10px 0 10px 10px;
}

	#content ul li{
		background:url(img/bg_list_star_red.png) no-repeat left center;
		padding:2px 0 2px 20px;
	}

a{
	color:#bb2a28;
	text-decoration:none;
}

a:hover{
	color:#bb2a28;
	text-decoration:underline;
}	

p strong{
	font-weight:bold;
}
	

/**************** 
MAP
****************/
#map{
	width:662px;
	height:300px;
}

.infowindow h3{
	font-size:17px;
}

.infowindow p{
	font-size:12px;
}



/**************** 
UL.participants
****************/
#content ul.participants{
}

	#content ul.participants li{
		float:left;
		font-size:12px;
		width:70px;
		height:80px;
		background:none;
		overflow:hidden;
	}

/**************** 
programma table
****************/
table.programma_table{
}

	table.programma_table tr{
		padding-bottom:5px;
	}

		table.programma_table tr td{
			padding:5px 5px 5px 0px;
		}
		
/**************** 
database table
****************/
table.database_table{
}

	table.database_table tr{
		padding-bottom:5px;
	}

		table.database_table tr td{
			padding:5px 20px 10px 0px;
		}	

/***************************  
LAYOUT-STRUCTURE TITO
***************************/

@media only screen and (min-width: 1212px) {
	
	#content{
		/*
		background-color:#fff;
		*/
	}
	
}

/***************************  
LAYOUT-STRUCTURE SPEELCLUB
***************************/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	#header_wrapper{
		width:486px;
	}
	
	#header{
		width:486px;
		height:auto;
		margin:25px 0 0 30px;
	}
		#logo_stubru{
			height:100px;
			width:auto;
		}
		
		#logo_stf{
			height:100px;
			width:auto;
		}
	
	#content_wrapper{
		width:486px;
	}
	
	#sidebar{
		width:502px;
		margin-bottom:-25px;
	}
		
		#twitter, #facebook{
			display:none;
		}
	
	#content{
		width:442px;
		padding-left:0px;
		/*background-color:#FF0;*/
	}
	
		#map{
			width:100%;
		}
	
		.picture_big{
			width:100%;
			height:auto;
		}
	
	.box{
		margin-right:5px;
	}
	
	#footer{
		width:442px;
	}
	
	#footer {
		width:442px;
	}
		
		#footer_sidebar img{
				width:200px;
				height:auto;
			}
		
		#footer_content div.columnleft img, #footer_content div.columnright img{
			width:auto;
			height:auto;
		}
}

/***************************  
LAYOUT-STRUCTURE RIBBEL
***************************/

@media only screen and (max-width: 479px) {
	#header_wrapper{
		width:225px;
	}
	
	#header{
		width:225px;
		height:auto;
		margin:10px 0 0 15px;
	}
		#logo_stubru{
			height:70px;
			width:auto;
			right:-75px;
		}
		
		#logo_stf{
			height:70px;
			width:auto;
			left:35px;
		}
	
	#content_wrapper{
		width:225px;
	}
	
	#sidebar{
		margin-bottom:-25px;	
	}
	
		#twitter, #facebook{
			display:none;
		}
	
	#content{
		width:240px;
		padding-left:0px;
		/*background-color:#F0F;*/
	}
	
		#map{
			width:100%;
		}
	
		.picture_big{
			width:100%;
			height:auto;
		}
		
		.white_banner{
			display:block;
		}
	
	.box{
		margin-right:5px;
	}
	
	#footer, #footer_sidebar, #footer_content{
		width:240px;
		height:auto;
	}
	
		#footer_sidebar img{
			width:240px;
			height:auto;
		}
		
		#footer_content div.columnleft img, #footer_content div.columnright img{
			width:auto;
			height:auto;
		}
	
}
