.skip-link {
	display: none;
}

.site-header {
	margin: 0;
	padding: 0 0 0 0;

	width: 100%;
	height: 30vh;

	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.44)), url("img/header2.jpg");
	background-position: center;
	background-size: cover;

	.site-branding {
		@extend .clearfix;
		.site-logo {
			margin: 0 auto;
			padding: 5vh 0 0 0;
			display: block;

			max-width: 80%;
		}

		.site-info-wrapper {
			float: left;
			margin-left: 10px;
			display: none;

			.site-title {
				margin: 0;
				padding: 30px 0 0 0;

				text-transform: uppercase;
				font-weight: 700;
				font-size: 58px;
				font-size: 5.8rem;

				a {
					color: #FFF;

					&:hover {
						text-decoration: none;
						color: #FFF;
					}
				}
			}

			.site-description {
				margin: 0;
				padding: 0;

				text-transform: uppercase;

				font-family: Roboto;
				font-weight: 300;
				font-size: 19.6px;
				font-size: 1.96rem;

				color: #FFF;
			}

		}
	}
}

@media (min-width : 800px) {
	.site-header {
		height: 70vh;
		padding: 25vh 0 0 0;
		.site-branding {
			.site-logo {
				margin: 0;
				padding: 0;
				display: block;

				float: left;
				max-height: 14vh;
			}

			.site-info-wrapper {
				display: block;
			}
		}
	}
}