.leaders {
	margin: 0;
	padding: 0 25px;

	list-style-type: none;

	.group {
		margin: 20px auto;
		width: 100%;

		h3 {
			margin: 0;
			padding: 25px 0;
			font-size: 32px;
			font-size: 3.2rem;
		}

		ul {
			margin: 0;
			padding: 0;

			list-style-type: none;

			li {
				padding: 15px 0;

				@extend .clearfix;

				.avatar-wrapper {
					display: block;
					width: 20%;
					float: left;

					.avatar {
						max-width: 100%;
						height: auto;
					}
				}

				.details {
					padding: 0 0 0 25px;
					width: 80%;
					float: left;

					.name {
						font-size: 18px;
						font-size: 1.8rem;
						font-weight: 500;
					}

					.street {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (min-width : 800px) {

	.leaders {
		.group {
			width: 50%;

			h3 {
				margin: 0 0 0 20%;
				padding: 25px 25px 15px;
				font-size: 36px;
			}

			&:nth-child(odd) {
				ul {
					li {
						.avatar-wrapper {
							float: left;
							display: block;
							width: 20%;

							.avatar {
								float: right;
							}
						}

						.details {
							float: left;
						}
					}
				}
			}

			&:nth-child(even) {
				ul {
					li {
						.avatar-wrapper {
							float: right;
							display: block;
						}

						.details {
							margin-left: 20%;
							width: 60%;
							float: left;
						}
					}
				}
			}
		}
	}
}