html {
	font-size:62.5%;
}

body {
	font-family: Roboto;

	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.44)), url("img/header2.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	font-size: 14px;
	font-size: 1.4rem;
	line-height: 22px;
	line-height: 2.2rem;
	background-color: #F4F4F4;
}

.main-container {
	margin: 0;
	padding: 0;
}

.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background-color: #FFF;
}

.padding {
	padding: 15px 50px;
}

.page-template-info {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.44)), url("img/info-bg.jpg");
}

.blog .post .entry-content {
	img {
		display: none;
	}
}

@media (min-width : 800px) {

	.type-page {
		padding: 0 25px;
	}

	.main-container {
		margin: -250px auto 75px;
		padding: 0 0 50px 0;
	}
}