.main-navigation {

	margin: 0;
	padding: 0;
	border-bottom: 1px solid #DCDCDC;

	.menu-toggle {
		display: none;
	}

	ul {
		margin: 0;
		padding:0;

		list-style-type: none;
		@extend .clearfix;

		li {
			margin: 0;
			padding: 25px 0;
			line-height: 60px;
			box-sizing: border-box;

			display: block;
			width: 20%;
			text-align: center;
			float: left;

			ul {
				display: none;
			}

			a {
				font-size: 21px;
				font-size: 2.1rem;
				font-family: Oswald;
				color: #000;
				padding-bottom: 1px;

				border-bottom: 3px solid #000;

				transition: padding-bottom, 0.1s, ease-out;

				&:hover {
					text-decoration: none;

					padding-bottom: 5px;
				}

				&:active {
					padding-bottom: 1px;
					text-decoration: none;
				}

				&:focus {
					text-decoration: none;
					padding-bottom: 1px;
				}
			}
		}
	}
}

.footer-menu {
	.menu {
		margin: 10px 0 0 0;
		padding: 0;
		list-style-type: none;

		.menu-item {
			padding: 0 0 3px 0;

			a {
				color: #D9D9D9;
				font-size: 16px;
				font-size: 1.6rem;
				font-weight: 700;
			}

			.sub-menu {
				margin: 0;
				padding-left: 10px;
				list-style-type: none;

				.menu-item {
					a {
						font-weight: normal;
						font-size: 14px;
						font-size: 1.4rem;
						font-weight: 500;
					}
				}
			}
		}
	}
}

.info-menu {
	.menu {
		list-style-type: none;
		margin: 15px 0;
		@extend .clearfix;

		.menu-item {
			display: block;
			width: auto;
			float: left;
			margin-right: 35px;

			a {
				font-size: 1.6rem;
				font-weight: 500;
				color: #000;

				padding-bottom: 1px;

				border-bottom: 2px solid #000;

				transition: padding-bottom, 0.1s, ease-out;

				&:hover {
					text-decoration: none;
					padding-bottom: 3px;
				}
			}
		}
	}
}
