.page-template-program {
	.site-header {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.44)), url("img/program-bg.jpg");
	}
}

.activity {
	margin: 15px 10%;
	padding: 25px 0;
	border-bottom: 1px solid #DCDCDC;
	max-width: 500px;

	.date {
		font-weight: 500;
	}
}

@media (min-width : 768px) {
	.page-template-program {
		.background {
		    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.44)), url("img/program-bg.jpg");
		}
		
		.site-header {
			background-image: none;
		}
	}
}