@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    background-color: #FFFFFF;
    background-image: none;
	color:#000000;
	text-align:left;
	float: none !important;
}

P, td{
font: 10pt Arial;
text-align: center
}
h1{
font: 18pt Arial;
}



a {
color:#333333;
}


th {

	border: 1px solid #000000;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: none;
}

th.nobg {
	border: 1px solid #000000;
	background: none;
}

td.nobg {
	border: 1px solid #000000;
	background: none;
}

td {
	border: 1px solid #000000;
	background: #ffffff;
	padding: 6px 6px 6px 12px;
	color: #000000;
}


td.alt {
	border: 1px solid #000000;
	background: #FFFFFF;
	color: #000000;
}

th.spec {
	border: 1px solid #000000;
	background: none;
	
}

th.specalt {
	border: 1px solid #000000;
	background: none;
	color: #000000;
}

#header{
display:none;
}
.calendar{
display:none;
}

#footer{
display:none;
}
.noprint{
display:none;
}