a img{
border:0;
}

#kiesafdeling{

font-size:11px;

text-align:right;



}

#kiesafdeling a{

text-decoration:none;

}

#kiesafdeling a:hover{

text-decoration:underline;

}



#randomtxt{

		position: absolute;

		margin: 0; padding: 0;

		left: 1em;

		

		/*font-size: 16px;

		color: #f1f1f1;*/

	}

.error{

background-color:#FF0000;

font-size:18px;

color:#FFFFFF;

}



#header{

position:absolute;

float:right;

text-align:right;

top:0px;

width:700px;

height:40px;

}

#footer{

position:relative;

text-align:center;

width:700px;

bottom:1em;



}

#content{

width:100%;

position:relative;

overflow:auto;

height:500px;

top:40px;

width:700px;

}



#top{

position:relative;

top:10px;

}

#center{

height:540px;

width:700px;

display:block;

margin-left:auto;

margin-right:auto;

}

.calendar{

width:250px;

padding:0;

margin-left:225px;

margin-right:225PX;

}

body {

	font: normal 13px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #000000;

	background:#0099FF;

	text-align:left;

}

p {

text-align:center;

}



a {

	color: #0000FF;

}

#login{

width:300px;

padding:0;

margin:0;

}



#programma {

	width: 700px;

	/*margin-left:auto;

	margin-right:auto;

	*/padding: 0;

	margin: 0;

}

#invoeren {

	width: 700px;

	/*margin-left:auto;

	margin-right:auto;

	*/padding: 0;

	margin: 0;

}





caption {

	padding: 0 0 5px 0;

	width: 250px;	 

	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	text-align: right;

}



th {

	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #4f6b72;

	border-right: 1px solid #C1DAD7;

	border-bottom: 1px solid #C1DAD7;

	border-top: 1px solid #C1DAD7;

	letter-spacing: 2px;

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #CAE8EA url(images/bg_header.jpg) no-repeat;

}



th.nobg {

	border-top: 0;

	border-left: 0;

	border-right: 1px solid #C1DAD7;

	background: none;

}



td.nobg {

	border-top: 0;

	border-left: 0;

	border-right: 1px solid #C1DAD7;

	background: none;

}



td {

	border-right: 1px solid #C1DAD7;

	border-bottom: 1px solid #C1DAD7;

	background: #fff;

	padding: 6px 6px 6px 12px;

	color: #4f6b72;

}





td.alt {

	background: #F5FAFA;

	color: #797268;

}



th.spec {

	border-left: 1px solid #C1DAD7;

	border-top: 0;

	background: #fff url(images/bullet1.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}



th.specalt {

	border-left: 1px solid #C1DAD7;

	border-top: 0;

	background: #f5fafa url(images/bullet2.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #797268;

}

.calendar-month{

	padding: 0 0 5px 0;

	width: 250px;	 

	font: italic 24px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	text-align: left;

}



calendar-prev{

	padding: 0 0 5px 0;

	width: 250px;	 

	font: italic 24px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	text-align: left;

}



calendar-next{

	padding: 0 0 5px 0;

	width: 250px;	 

	font: italic 24px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	text-align: left;

	

}









