/*Stijlen voor adressenlijst */
.betaald {

}

.nog_betalen {
	background-color: #FF9F9F;

}

.actief{

}

.inactief{

	background-color:#999;



}


/*
TEST
*/
.attachment-80x60{
}

.column-icon media-icon > a > img{
	width:500px !important;
	height:500px !important;
}

.fixed .column-icon {
	width:200px !important;
}

td.media-icon img {
	height:200px !important;
	max-height:200px !important;
	width: auto;
	max-width:500px !important;
}