/************************************/
/* COUNTER CSS FOR MOBILE DEVICES  */
/************************************/

.menuimage {
	background-image: none !important;
}

body {
	background:none !important;
	background-color:#FFF !important;
	width:400px!important;
}

#menucontainer, #main1, #main2, #menucontainer, #kijkerbackground, #footercontainer, .lijn{
	background:none !important;
}

#pijlgezicht, #pijlgezicht_single, #left, #right, #krabbel{
	display:none !important;
}

#menucontainer li {
	margin:0px !important;
}

p {
	color:#000!important;
}

.inhoudfiguur img {
	display:none!important;
}

#kijkerfiguur img {
	display:none!important;
}

wp-post-image {
	border:none!important;
}

.menuimage{
	width: 400px !important;
}

#middle{
	margin-left:0px !important;
	width:400px!important;
	left:auto!important;
}

#main2{
	overflow:visible!important;
}
