/******************
COMMENTLIST
***************/
.navigation {
	margin-top:10px;
	margin-bottom:10px
}

#respond{
	margin-left:200px;
}

.navalignleft,li.depth-1 .comment-body p,li.depth-1 .comment-meta,li.depth-1 .comment-author,.comment-body div.reply,li.depth-1 .commentpijl {
	float:left
}

.navalignright,.commentedit,#middle .reply a {
	float:right
}

.commentlist {
	margin-top:30px
}

.commentlist li {
	list-style-type:none;
	margin-bottom:20px
}

.commentlist li.depth-1,.commentlist li.depth-2,.commentlist li.depth-3 {
	background:#eeead7;
	padding:10px
}

.commentlist li.depth-1,.commentlist li.depth-2,.commentlist li.depth-3,li.depth-2 {
	border:1px solid #c1c1c1
}

.commentlist li.depth-1 {
	margin-left:140px
}

.commentlist li.depth-2,.commentlist li.depth-3,li.depth-1 .commentpijl {
	margin-left:100px
}

li.depth-1 .comment-meta,li.depth-1 .comment-author {
	margin-left:-140px
}

li.depth-2 .comment-meta,li.depth-2 .comment-author {
	margin-left:-100px
}

.commentimg a img {
	width:80px;
	height:80px;
}

ul .children .commentimg a img {
	width:50px;
	height:50px
}

li.depth-2 {
	background:#f2f0e4
}

li.depth-1 .comment-meta {
	margin-top:20px
}

#middle li.depth-1 .comment-meta a,#middle div.commentedit a,.commentdatum,#middle .reply a {
	color:#818181
}

#middle li.depth-1 .comment-meta a {
	font-size:11px
}

.commentlist li p {
	margin:10px;
	font-size:13px;
	padding-top:10px
}

.nobr br {
	display:
}

#middle div.commentauteur {
	font-weight:bold;
	font-size:14px;
	width:90px;
	word-wrap:break-word;
}

#middle div.commentauteur a,#middle div.reply a:hover,#middle div.commentedit a {
	text-decoration:none
}

#middle div.comment-author br,li.depth-1 .commentpijl {
	display:block
}

span.symbool {
	line-height:20px
}

#middle div.reply a:hover {
	color:#746e56
}

.commentedit {
	margin-top:-16px;
	margin-right:10px
}

#middle div.commentedit a {
	font-size:10px
}

#middle div.commentedit a:hover {
	text-decoration:underline
}

.commentdatum {
	font-size:12px;
	margin-top:5px
}

.depth-1 .commentimg img{
	border:5px solid #302d26;
	width:80px;
	height:80px;
}

.depth-2 .commentimg img {
	border:3px solid #302d26;
	width:50px;
	height:50px;
}

.depth-3 .comment-author,.depth-2 .comment-author,.depth-1 .comment-author {
	margin-top:-20px
}

li.depth-1 {
	min-height:140px;
	height:140px
}

li.depth-1,li.depth-3,li.depth-2 {
	height:auto !important
}

li.depth-3,li.depth-2 {
	min-height:110px;
	height:110px
}

li.depth-1 .commentpijl {
	background:url("images/commentpijl.png");
	width:29px;
	height:20px
}

.commentlist li.byleiding {
	background:#faf8ef
}

.commentlist li.byvb {
	background:#fffdf5
}

#respond textarea {
	width:300px
}

#middle .reply a {
	font-size:15px;
	margin-top:-12px
}

.depth-2 .commentdatum {
	font-size:8px
}

#middle .post > #respond {
	margin-left:145px;
	margin-bottom:40px
}

#middle .post > #respond #comment {
	width:555px
}