/**************
CONTACTPAGE
**************/
.contactinfo {
	width:170px;
	vertical-align:top
}

.textveld {
	width:180px
}

.radiobuttons {
	padding-top:20px
}

.keuze1 {
	width:115px
}

.keuze {
	width:201px
}

.input {
	margin-right:5px
}

#leiding,#bericht {
	margin-top:20px;
	margin-bottom:10px
}

#bericht textarea {
	width:290px;
	height:240px
}

.error,.succes {
	background:#f4f4f4;
	padding:5px;
	margin-bottom:20px
}

.error {
	border:1px solid #c10000;
	color:#c10000
}

.error .gegeven {
	font-weight:bold;
	line-height:23px
}

.succes {
	border:1px solid #060;
	color:#060
}