/**********************
CUSTOM
***********************/

/**********************
GOCARTPAGE
***********************/
#menu_gocart{
	background-image:url(../images/menu_gocart.jpg);
}

/**************************
VRAGENLIJST LEIDING
**************************/
.vragenlijst{
	width:540px;
}

.vragenlijst tr td{
	padding:10px;
	vertical-align:top;
}

.vraag{
	font-weight:bold;
	width:220px;
}

.antwoord{
	width:200px;
}

/**************************************
In de kijker op categoriepagina
**************************************/
#kijkertekst div.auteur{
	display:block;
	float:left;
}

#kijkertekst div.auteur a.naam{
	text-align:center;
	font-size:15px;
	display:block;
}

#kijkertekst div.auteur a img.avatar{
	margin-bottom: 5px;
	border: 5px solid #302d26;
	margin-top:20px;
	margin-right:5Px;
}

/**************************
OTHER PAGES
**************************/
.reactiesvan, .postsvan{
	text-decoration:none;
}

.alignleft{
	margin-bottom:10px;
	margin-right:10px;
	display:block;
	margin-top:10px;
}

.wp-caption-text{
	display:none;
}

.odd{
	background-color:#ece8d3;
}

.even{}