/********************
LEIDING
********************/
.leidingtabel {
	margin-left:65px
}

.tb_info {
	width:323px;
	padding-left:20px;
	padding-right:0
}

.tb_info,.avatar {
	vertical-align:top;
}

.tb_info,.lijnleiding {
	display:block
}

.hoogte {
	height:130px
}

.tb_info h2,.lijnleiding {
	margin-top:30px
}

.tb_info h2 {
	margin-bottom:5px
}

.contacteerleiding,.leidingnaam,.anchor {
	text-decoration:none !important
}

.tb_avatarleeg {
	padding-right:111px
}

.contactemaildres {
	font-weight:bold
}

.lijnleiding {
	background:url(../images/lijn.gif) no-repeat;
	width:517px;
	height:18px;
	margin-left:130px
}

.anchor:hover {
	color:#302d26 !important
}

.user-edit-link{
	font-size: 12px;
}