/**********************
NAVIGATION
***********************/

/*************************
MENU
**************************/
#toptop,#menucontainer ul {
	margin:0
}

#toptop {
	color:#FFF;
	font-size:16px;
	margin:10px 10px -30px -340px;
}

#homelink {
	width:540px;
	height:130px;
	display:block;
	position:absolute;
	top:74px;
	left:50%;
	margin-left:-450px
}

#homelink,#homelink:hover,.menulink a,.menulink:hover {
	outline:none
}

#menucontainer ul {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	padding:0
}

#menucontainer li {
	display:inline-block;
	margin-left:5px;
	margin-right:5px
}

#menucontainer li{
	font-size:25px
}

.menulink a {
	text-decoration:none;
	color:#746e57 !important;
	width:115px;
	float:left;
	font-variant:small-caps;
  -webkit-transition: background 0.09s ease;
  -moz-transition: background 0.09s ease;
  -o-transition: background 0.09s ease;
}

.menulink:hover {
	color:#746e57
}

.menulink1 a {
	background:url("../images/menu_1.png") no-repeat;
	margin:0 -11px;
}

.menulink1 a,.menulink2 a {
	padding:12px 10px 21px 31px;
}

.menulink1 a:hover {
	background-position:-5px -96px;
}

.menulink2 a {
	background:url("../images/menu_2.png") no-repeat;
	margin:0 -50px;
}

.menulink2 a:hover {
	background-position:-14px -85px
}

.menulink3 a {
	background:url("../images/menu_3.png") no-repeat;
	padding:12px 10px 25px 31px;
	margin:0 -25px;
}

.menulink3 a:hover {
	background-position:-2px -84px;
}

.menulink4 a {
	background:url("../images/menu_4.png") no-repeat;
	padding:12px 30px 25px 31px;
}

.menulink4 a,.menulink5 a {
	margin:0 -30px;
}

.menulink4 a:hover {
	background-position:0 -80px;
}

.menulink5 a {
	background:url("../images/menu_5.png") no-repeat;
	padding:12px 80px 21px 31px;
	width:140px;
}

.menulink5 a:hover {
	background-position:35px -88px;
}

menu span {
	display:none
}

/**********************************************
SUBMENU (FOTOPAGINA) of OPLIJSTING (FOTOPAGINA)
**********************************************/
.fotosfig {
	width:110px !important
}

.fotosfigenkel {
	width:180px !important
}

.fotostekst {
	margin-left:100px;
}

.fotostekstenkel {
	width:500px !important
}

#kijkertekst #submenu div,#kijkertekst #submenu {
	display:block
}

#submenu_tbl tr {
	vertical-align:top
}

#submenu_tbl tr td {
	padding:4px;
}

ul#submenu li.page_item {
	margin-top:20px;
	font-size:15px
}

ul#submenu li.page_item ul li.page_item {
	margin-top:0;
	font-size:12px
}

#submenu a {
	text-decoration:none;
	font-variant:small-caps;
	font-size: 18px;
}

#submenurechts,#submenulinks {
	float:left;
	width:150px;
	margin-top:15px
}
/**********************************************
SUBMENU (FOTOPAGINA) of OPLIJSTING (FOTOPAGINA)
**********************************************/
.fotomenuimage {
	width:85px !important
}

.fotomenutekst {
	width:600px !important
}

.fotomenulinks {
	margin-top:15px;
	margin-left:25px
}

.fotomenulinks,.fotomenumidden,.fotomenurechts {
	position:absolute;
	text-align:center;
	height:200px
}

.fotomenumidden {
	margin-top:78px;
	left:225px
}

.fotomenumidden,.fotomenumidden h1 {
	vertical-align:bottom
}

.fotomenurechts {
	margin-top:43px;
	right:-11px;
	bottom:Opx
}

#kijkertekst .fotomenurechts a img,#kijkertekst .fotomenumidden a img,#kijkertekst .fotomenulinks a img {
	display:block !important
}

.fotomenurij {
	text-align:left
}

.fotomenurij p {
	font-size:14px
}

.zonderkader {
	border:none !important
}