/*************
Programma
**************/
#kijkertekst #kiesafdeling {
	display:block;
	margin-top:10px
}

#kijkertekst #kiesafdeling a {
	font-size:16px;
	line-height:28px
}

#inhoudtekst .no-border {
	border:none;
	margin-left:10px
}

.programmaafdeling {
	margin-bottom:20px
}

.programma_table tfoot tr th,.programma_table thead tr th,.programma_table tr td,#programma tr th,#programma tr td {
	padding:10px
}

.thead th {
	padding:0 0 10px 0
}

.tfoot th {
	padding:10px 0 0 0
}

.programmadatum {
	width:370px
}

.programmadatum,.programmainhoud {
	padding:10px 10px 10px 10px;
	vertical-align:top
}

.programmainhoud p.wordwrap {
	width:250px
}

.wordwrap {
	word-wrap:break-word
}

.programmaodd {
	background:#ece8d3
}

.programmaeven{}