body
{
	margin: 0 auto;
	padding: 0;
	background-color: #EC9018;
	background-image: url('../img/achtergrond.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
	
	font-family: Arial;
}

#wrapper
{
	width: 600px;
	
	margin-left: auto;
	margin-right: auto; 
	margin-top: 50px;
	margin-bottom: 50px;
}	

#header 
{
	margin-bottom: 5px;
	text-align: center;
}

#content
{
	border: 1px solid black;
	background-color: #FFFFFF;
	height: 140px;
	padding: 15px;
	font-size: 14pt;
	margin: 3px;
}

/* form */
fieldset
{
	border:none;
	margin: none;
	padding: none;
}

label 
{
	float:left; 
	width:200px; 
	display: block;
	font-size: 20px;
}

.input
{
	display:block;
	float:left;
	width:326px;
	margin-top: 5px;
}  

.melding
{
	margin-top: 10px;
	width: 180px;
	float:right;
	display:block;
	Color: red;
}

.submit
{
	float: right;
	width: 87px;
	height: 25px;
	margin-top: 10px;
	cursor: pointer;
}


 
#content h2
{
	margin: 0px;
	color: #9C3C0C;
	border-bottom: 1px solid #9D5A01;
	font-size: 1.17em;
}




#footer
{
	margin-top: 5px;
	text-align: center;
	color: #563001;
	font-size: 14px;
	margin-bottom: 25px;
}

#footer a
{
	text-decoration: none;
	color: #563001;
}

#footer a:hover
{
	text-decoration: underline;
	color: #563001;
}
