body
{
	margin: 0 auto;
	padding: 0;
	background-color: #EC9018;
	background-image: url('../img/achtergrond.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
	
	font-family: helvetica, Arial;
}

#wrapper
{
	width: 900px;
	
	margin-left: auto;
	margin-right: auto; 
	margin-top: 50px;
	margin-bottom: 50px;
}	

#header 
{
	margin-bottom: 5px;
}

#menu
{
	border: 1px solid black;
	background-color: #FFFFFF;
	width: 100px;
	float: left;
	margin: 3px;
	height: 350px;
	padding: 15px;
}

#menu ul
{
	display:block; 
	width: 80px; 
	margin: 11px 0 0; 
	padding:0 29px 0 0; 
}

#menu li
{
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	margin: 8px 0px;
	padding-bottom: 3px;
}

#menu li a
{
	color: #CE7414;
	text-decoration: none;
}

#menu li a.active
{
	color: #CE7414;
	font-weight: bold;
}

#menu li a:hover
{
	color: #EC9018;
	text-decoration: none;
}

#menu #fb
{
	margin-top: 100px;
	text-align: center;
}

#content
{
	border: 1px solid black;
	background-color: #FFFFFF;
	min-height: 420px;
	padding: 15px;
	font-size: 14pt;
	width: 724px;
	float: left;
	margin: 3px;
	height: auto;
	overflow: auto;
}

#content p
{
	font-size: 12pt;
	text-align: justify;
	line-height: 20px;
}
 
#content #welkomsblok
{
	height: auto;
	overflow: hidden;
}
 
#content #welkomsblok p
{
	width: 568px;
	float: right;
}

#content img.affiche
{
	height: 160px;
	float: right;
	margin: 1em;
}

#content h2
{
	margin: 0px;
	color: #9C3C0C;
	border-bottom: 1px solid #9D5A01;
	font-size: 1.17em;
}

#content .blogberichtje
{
	border: 1px solid #cccccc;
	background-color: #F5F5F5;
	margin-top: 14px;
}

#content .blogberichtje h3
{
	font-size: 15px;
	color: #E85E1A;
	border: none;
	margin: 5px;
}

#content .blogberichtje .info
{
	font-size: 14px;
	border: 1px solid #cccccc;
	margin: 5px;
	padding: 5px;
	padding-left: 25px;
	background: #E0E0E0 url(http://www.home.jasperdesmet.be/images/PostDateIcon.png) no-repeat 5px 5px;
	overflow: auto;
	height: auto;
}

#content .blogberichtje p
{
	margin: 7px;
}

#content .blogberichtje a.leesverder
{
	margin-top: 5px;
	display:block;
	width: 100%;
	color: #B84309;
	text-decoration: none;
}

#content .blogberichtje a.leesverder:hover
{
	text-decoration: none;
}

#content #blogwrap
{
	height: auto;
}

.paginate 
{
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 15px;
	font-size: 12pt;
}

.paginate a 
{
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #9D5A01;
	text-decoration:none;
	color: #9D5A01;
	text-align: center;
}

.paginate a:hover, .paginate a:active 
{
	border: 1px solid #9D5A01;
	color: #FFFFFF;
	background-color: #EC9018;
}

.paginate span.current 
{
    margin: 2px;
	padding: 2px 5px 2px 5px;
	border: 1px solid #9D5A01;

	font-weight: bold;
	background-color: #EC9018;
	color: #FFF;
}

.paginate span.disabled 
{
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #FACC8E;
	color:#FACC8E;
}

.paginate li
{
	padding:4px;
	margin-bottom:3px;
	background-color:#FCC;
	list-style:none;
}

.paginate ul
{
	margin:6px;
	padding:0px;
}


.artiesten
{
	width: 362px;
	float: left;
	margin-bottom: 10px;
}

.artiesten h3
{
	font-size: 16pt;
	border-bottom: 1px solid #ccc;
}

.artiesten ul
{
	display:block; 
	width: 340px; 
	margin: 11px 0 0; 
	padding:0 29px 0 0; 

}

.artiesten li
{
	list-style-type: none;

	text-align: right; 
	border-bottom: 1px solid #ccc;
	margin: 8px 0px;
	padding-bottom: 3px;
}

span.tijdstip
{
	width: 50px;
	float: left;
}

span.uitleg
{
	font-size: 12px;
}

img.sponsors
{
	border: 1px solid #ccc;
	max-width: 150px;
	max-height: 150px;
	margin: 5px;
}

img.hoofdsponsors
{
	border: 1px solid #ccc;
	max-width: 250px;
	max-height: 250px;
	margin: 5px;
}

/* Mededelingen */

.info, .success, .warning, .error, .validation 
{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 70px;
    background-repeat: no-repeat;
    background-position: 10px center;
	font-size: 13px;
}

.info ul, .success ul, .warning ul, .error ul, .validation ul 
{
    padding-left:  20px;
}

.info 
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
}
.success 
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/succes.png');
}
.warning 
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
}
.error
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

/* textareas enzoverder */

form
{
	background-color: #f7f7f7;
	border: 1px solid #CCCCCC;
	padding: 10px;
	overflow: auto;
	font-size: 13px;
}

fieldset
{
	border: none;
}

form h3.form
{
	font-size: 12pt; 
	margin: 3px;
	border-bottom: 1px solid;
}

select, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=number], input[type=time] 
{

	font-size: 10pt;
	width: 490px;
	float: left;
	margin: 3px;
	border: 1px solid #ccc;
}

input[type=file]
{
	width: 210px;
	margin: 3px;
}

label
{
	width: 160px;
	float: left;
	margin: 3px;
}

input[type=submit]
{
	color: #fff;
    border:1px solid #749217;
    background: #8fc857;
	cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 7px 20px;
    outline: none !important;
    text-align: center;
    text-decoration: none;
	margin: 5px;
	float: left; 
}

#artiest p
{
	width: 380px;
	min-height: 400px;
	float: left;
	padding-bottom: 3px;
}

#artiest img
{
	width: 300px;
	height: 200px;
	float: left;
	
	margin: 1Em;
}

#artiest h4
{
	margin-left: 25px;
	margin-top: 0px;
	margin-right: 1Em;
	margin-bottom: 0px;
	width: 280px;
	float: left;
	font-size: 11pt;
	color: #CC7A06;
	border-bottom: 1px solid #CC7A06;
}

#artiest ul
{
	width: 280px;
	float:left;
	font-size: 11pt;
	padding: 0px;
	margin-left: 25px;
	margin-top: 5px;
}

#artiest ul li
{
	list-style-type: none;
	padding: 0px;
	border-bottom: 1px solid #CC7A06;
	margin-bottom: 4px;
	padding-bottom: 2px;
}

#artiest ul li a
{
	color: #E89B2E;
	text-decoration: none;
}

#artiest ul li a:hover
{
	color: #CC7A06;
	text-decoration: none;
}

/* Tabel */

table
{
	border: 1px solid #000000;
	width: 100%;
	
	margin-top: 15px;
}

thead th 
{
    background: #EBEBEB;
    color: #333;
}

th, td {
    padding: 5px;
}

tbody tr td {
    background: #F5F5F5;
}

tbody tr td a{
    color: #9C3C0C;
}

#footer
{
	margin-top: 5px;
	text-align: center;
	color: #563001;
	font-size: 14px;
	margin-bottom: 25px;
}

#footer a
{
	text-decoration: none;
	color: #563001;
}

#footer a:hover
{
	text-decoration: underline;
	color: #563001;
}
